<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="contact-form">
    <div class="field">
        <app-contact-form-item class="input-item" #nameItem #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name"
            id="name" [placeholder]="'FORM.PLACEHOLDER_NAME' | translate" [required]="true"
            [labelKey]="'FORM.NAME' | translate" onkeydown="return /[A-ZÄÖÜa-zäöüß ]/i.test(event.key)">
        </app-contact-form-item>
    </div>

    <div class="field">
        <app-contact-form-item class="input-item" #emailItem #email="ngModel" [(ngModel)]="contactData.email" type="email"
            name="email" id="email" [placeholder]="'FORM.PLACEHOLDER_EMAIL' | translate"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [required]="true"
            [labelKey]="'FORM.EMAIL' | translate">
        </app-contact-form-item>
    </div>

    <div class="message-policy">
        <div class="field">
            <div class="input-field" [ngClass]="{
            'valid': message.valid && message.touched && !message.disabled,
            'invalid': !message.valid && message.touched && !message.disabled
            }">
                <textarea #messageTextarea #message="ngModel" [(ngModel)]="contactData.message" name="message"
                    id="message" [placeholder]="'FORM.PLACEHOLDER_MESSAGE' | translate" minlength="1"
                    style="height: 200px;" required></textarea>
                <img class="resize-icon" src="assets/icons/resize-textarea.svg" alt="resize icon">
                <img *ngIf="message.valid && message.touched && !message.disabled"
                    src="assets/icons/validation-fine.svg" alt="input is valid">
                <img *ngIf="!message.valid && message.touched && !message.disabled"
                    src="assets/icons/validation-error.svg" alt="input is invalid">
            </div>
            <div>
                @if (!message.valid && message.touched && !message.disabled) {
                <span class="validation-fail fs-ultra-small">{{ 'FORM.MESSAGE' | translate }}</span>
                }
            </div>
        </div>

        <div class="policy-container">
            <div class="policy-validation">
                <div class="accept-policy">
                    <input #policy="ngModel" [(ngModel)]="contactData.policyAccepted" type="checkbox" name="policy"
                        id="policy" required>
                    <img *ngIf="!contactData.policyAccepted" class="checkbox"
                        (click)="contactData.policyAccepted = true" src="assets/icons/unchecked.svg"
                        alt="unchecked checkbox">
                    <img *ngIf="contactData.policyAccepted" class="checkbox"
                        (click)="contactData.policyAccepted = false" src="assets/icons/checked.svg"
                        alt="checked checkbox">
                    <div class="policy-confirmation">
                        <span class="fs-ultra-small">{{ 'FORM.READ' | translate }}</span>
                        <a class="policy-link fs-ultra-small" href="privacyPolicy">{{ 'FORM.PRIVACY_POLICY' | translate
                            }}</a>
                        <span class="fs-ultra-small">{{ 'FORM.AGREEMENT' | translate }}</span>
                    </div>
                </div>
                <div class="policy-validation-space">
                    @if (contactData.policyAccepted === false && name.valid && email.valid && message.valid) {
                    <span class="validation-fail validation-fail-policy fs-ultra-small"> {{ 'FORM.POLICY' | translate
                        }}</span>
                    }
                </div>
            </div>

            <input type="submit" [value]="'FORM.SEND' | translate" class="button" [disabled]="!contactForm.form.valid"
                [ngClass]="!contactForm.form.valid ? 'button-disabled': 'button-abled'">
        </div>
    </div>

    <div class="transmission-confirmation" [ngClass]="{ visible: showMessage, hidden: !showMessage }">
        <span class="success-message" *ngIf="successMessage">{{ successMessage }}</span>
        <span class="error-message" *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>

</form>