@import 'shared';

.contact-form {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);
}

input[type=text],
[type=email],
textarea {
    width: 100%;
    color: white;
    background: $blue-grey;
    padding: 12px;
    border: 1px solid $violet;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}