@import 'shared';

$red: #E61C40;

.contact-form {
    @include dFlex($fd: column, $jc: flex-start, $g: 32px);
    position: relative;
    overflow-x: hidden;
}

.field {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
    width: 100%;

    .input-item {
        width: 100%;
    }
}

.input-field {
    width: 100%;
    background: $blue-grey;
    padding: 15px 25px;
    border: 1px solid $purple;
    border-radius: 10px;
    resize: vertical;
    @include dFlex($jc: space-between);
    transition: border-color 0.15s ease-in-out;
    position: relative;

    &:focus-within {
        border-color: $green;
    }

    input,
    textarea {
        border: unset;
        outline: none;
        width: 100%;
        font-size: 16px;
        background: $blue-grey;
    }

    textarea {
        min-height: 200px;
        max-height: 1200px;
        resize: none;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill {
        background-color: $blue-grey !important;
        -webkit-box-shadow: 0 0 0px 1000px $blue-grey inset;
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input::placeholder,
    textarea::placeholder {
        color: white;
        opacity: 1;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: white;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: white;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: white;
    }

    input:-moz-placeholder textarea:-moz-placeholder {
        color: white;
    }

    img {
        width: 16px;
        aspect-ratio: 1 / 1;
    }

    &.valid {
        border-color: $green;
    }

    &.invalid {
        border-color: $red;
    }

    .resize-icon {
        position: absolute;
        right: 6px;
        bottom: 6px;
        width: 13px;
        height: 13px;
        cursor: se-resize;
        opacity: 0.7;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    textarea.resizing {
        cursor: ns-resize;
    }
}

.fs-ultra-small {
    font-size: 14px;
    text-wrap: wrap;
}

.validation-fail {
    color: $red;
}

.validation-fail-policy {
    transform: translateY(-14px);
}

.message-policy {
    width: 100%;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 16px);

    @media (max-width: 400px) {
        gap: 12px;
    }
}

.policy-container {
    @include dFlex($fd: column, $jc: flex-start, $g: 16px);
    width: 100%;

    >.policy-validation {
        @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
        width: 100%;

        >.policy-validation-space {
            height: 20.27px;
        }
    }
}

.accept-policy {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 8px);

    >input[type="checkbox"] {
        margin-right: 8px;
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    >.checkbox {
        width: 24px;
        aspect-ratio: 1 / 1;
        cursor: pointer;
    }

    >.policy-confirmation {
        display: inline;

        span,
        .policy-link {
            display: inline;
            white-space: normal;
            vertical-align: middle;
        }

        .policy-link {
            color: $purple;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.button-abled {
    background: $green;
    padding: 15px 30px;

    &:hover {
        background: $purple;
        cursor: pointer;
    }
}

.button-disabled {
    background: #B6B6B6;
    padding: 15px 30px;

    &:hover {
        background: #B6B6B6;
        cursor: default;
    }
}

.transmission-confirmation {
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(20, 29, 47, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    @include dFlex();
    padding: 24px;
    transition: transform 0.3s ease-in-out, opacity 0.3 ease-in-out;
    pointer-events: none;

    &.visible {
        transform: translateX(0);
        pointer-events: auto;
    }

    &.hidden {
        transform: translateX(100%);
    }

    >.success-message,
    .error-message {
        width: 80%;
        padding: 32px 16px;
        text-align: center;
        border: unset;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

    >.success-message {
        background: $green;
        color: $blue-grey;
        // box-shadow: 0 0 12px rgba(112, 230, 28, 0.8);
    }

    >.error-message {
        background: $blue-grey;
        color: $red;
    }
}