<section class="general-main-section">
    <div class="section-content">
        <div class="headline">
            <div class="short-separator long-separator"></div>
            <h1>{{ 'CONTACT.HEADLINE' | translate }}</h1>
        </div>
        <div class="contact-section">
            <div class="invitation">
                <h3>{{ 'CONTACT.SUBHEADLINE' | translate }}</h3>
                <div class="invitation-text">
                    <p class="fs-small">{{ 'CONTACT.TEXT1' | translate }}</p>
                    <p class="fs-small">{{ 'CONTACT.TEXT2' | translate }}
                        <span class="contact-plea fs-small">{{ 'CONTACT.PLEA' | translate }}</span>
                    </p>
                </div>
            </div>

            <div class="form-container">
                <app-contact-form></app-contact-form>
            </div>
        </div>
        <div class="arrow">
            <a href="#hero">
                <img class="arrow-up" src="assets/icons/arrow-up.svg" alt="go up button">
            </a>
        </div>
    </div>
</section>