@import 'shared';

.headline {
    @include dFlex($jc: flex-start, $g: 32px);
}

.contact-section {
    @include dFlex($jc: flex-start, $ai: space-between);

    >.invitation {
        width: 50%;
        @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);

        >.invitation-text {
            @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 16px);
            padding-right: 32px;

            >.contact-plea {
                font-weight: 700;
            }
        }
    }

    >.form-container {
        width: 50%;
        display: flex;
    }
}

.arrow {
    @include dFlex($jc: flex-end);
    transition: all 200ms ease-in-out;
    padding-top: 32px;
}

.arrow-up {
    width: 39px;
    aspect-ratio: 1 / 1;
}