@import 'shared';

.headline {
    @include dFlex($jc: flex-start, $g: 32px);
}

.contact-columns {
    @include dFlex($fd: column, $ai: stretch);
    width: 100%;
    padding-top: 40px;
}

.contact-text-column {
    @include dFlex($jc: flex-start, $ai: stretch);

    >.invitation {
        width: 50%;
        @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);

        >.invitation-text {
            @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 16px);
            padding-right: 32px;

            >.appeal {
                @include dFlex($jc: flex-start, $ai: baseline, $g: 8px);
                flex-wrap: wrap;

                >.contact-plea {
                    font-weight: 700;
                }
            }
        }
    }

    >.contact-form-column {
        width: 50%;
        display: flex;
    }
}

.arrow {
    @include dFlex($jc: flex-end);
    transition: all 200ms ease-in-out;
    padding-top: 32px;
}

.arrow-up {
    width: 39px;
    aspect-ratio: 1 / 1;

    rect {
        stroke: white;
        transition: stroke 0.2s ease-in-out;
    }

    path {
        fill: white;
        transition: fill 0.2s ease-in-out;
    }

    &:hover {
        rect {
            stroke: $green;
        }

        path {
            fill: $green;
        }
    }
}