<section class="general-main-section">
    <div class="section-content">
        <div class="headline">
            <div class="short-separator long-separator"></div>
            <h1>{{ 'CONTACT.HEADLINE' | translate }}</h1>
        </div>
        <div class="contact-columns padding-right padding-left">
            <div class="contact-text-column">
                <div class="invitation">
                    <h3>{{ 'CONTACT.SUBHEADLINE' | translate }}</h3>
                    <div class="invitation-text">
                        <p class="fs-small">{{ 'CONTACT.TEXT1' | translate }}
                        </p>
                        <div class="appeal">
                            <span class="fs-small">{{ 'CONTACT.TEXT2' | translate }}</span>
                            <span class="contact-plea fs-small">{{ 'CONTACT.PLEA' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="contact-form-column">
                    <app-contact-form style="width: 100%;"></app-contact-form>
                </div>
            </div>
            <div class="arrow">
                <a href="#hero">
                    <img class="arrow-up" src="assets/icons/arrow-up.svg" alt="go up button">
                </a>
            </div>
        </div>
    </div>
</section>