@import 'shared';

header {
    height: 109px;
    width: 100%;
    position: fixed;
    @include dFlex();
    z-index: 30;
    background: $blue-grey;
}

.header-menu {
    @include dFlex($jc: space-between);
    padding: 37px 100px;
    position: relative;

    @media (max-width: 1150px) {
        padding: 37px 75px;
    }

    @media (max-width: 800px) {
        padding: 37px 50px;
    }

    @media (max-width: 400px) {
        padding: 37px 25px;
    }

    >.logo {
        height: 27.9px;
    }

    >.options {
        @include dFlex($jc: space-between, $g: 92px);

        @media (max-width: 900px) {
            display: none;
        }
    }

    >.menu-icon {
        height: 35px;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        @media (min-width: 900px) {
            display: none;
        }

        @media (max-width: 900px) {
            display: flex;
        }
    }

    >.resp-menu-box {
        @include dFlex($fd: column, $g: 29px);
        background: rgba(20, 29, 47, 0.8);
        width: 100%;
        height: calc(100vh - 109px);
        position: absolute;
        top: 109px;
        right: 0;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;

        &.resp-menu-closed {
            transform: translateX(100%);
            visibility: hidden;
        }
    }
}

.resp-menu-link {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: $purple;
        transform: scaleX(0);
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.forwarding {
    @include dFlex($jc: space-between, $g: 29px);
}

a {
    &:hover {
        color: $green;
    }
}

.languages {
    @include dFlex($jc: space-between, $g: 14px);
    width: 92px;

    .lang-btn {
        padding: 5px 8px;
        font-size: 18px;
        box-shadow: none;
    }

    .lang-btn.active {
        background-color: $green;
        color: white;
        font-weight: 700;
    }

    .lang-btn.inactive {
        border: 1px solid $green;
        background: $blue-grey;
        color: white;

        &:hover {
            border: unset;
            background: $purple;
        }
    }
}

.languages-resp {
    @include dFlex($jc: flex-start);

    .lang-btn-resp {
        border: unset;
        background: unset;
        box-shadow: none;
    }

    .lang-btn-resp.active {
        color: $green;
        font-weight: 600;
    }

    .lang-btn-resp.inactive {
        &:hover {
            color: $green;
        }
    }
}