<section class="general-main-section">
    <div class="section-content">
        <div class="headline-projects">
            <div class="short-separator"></div>
            <h1 class="centered-text">Portfolio</h1>
            <div class="short-separator long-separator"></div>
        </div>
        <div>
            <span class="fs-small">Explore a selection of my work here - Interact with projects to see my skills
                in action.</span>
        </div>
        <app-sharky></app-sharky>
    </div>
</section>