@import 'shared';

.left-padding-extra {
    padding-left: 136px;
}

.headline-projects {
    @include dFlex($jc: flex-end, $g: 32px);
}

.subheadline {
    padding-top: 40px;
    @include dFlex();
}

.project-div {
    padding-right: 136px;
}