@import 'shared';

.hero {
    height: calc(100vh - 109px);
    width: 100%;
    @include dFlex($ai: flex-start);
}

.introduction-with-image {
    @include dFlex($jc: space-between);

    >.photo-space {
        width: 50%;
        aspect-ratio: 1 / 1.2;
        background-image: url('/assets/img/photo-shadow.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        // >.body-photo {

        // }
    }
}

.introduce-myself {
    @include dFlex($fd: column, $g: 44px);

    >.introduction {
        @include dFlex($jc: flex-end, $g: 35px);
        padding-top: 188px;

        >.start-introduction {
            font-size: 64px;
            transform: rotate(270deg);
            min-width: 400px;
        }

        >.name-profession {
            @include dFlex($fd: column, $ai: flex-end);
        }
    }
}

.button-hero {
    transition: transform 0.2s ease-in-out;
    transform-origin: top;

    &:hover {
        transform: scale(1.1);
    }
}

.scroll-down {
    @include dFlex($fd: column, $jc: space-between, $ai: flex-end, $g: 3px);

    >span {
        display: inline-block;
        transform: translateX(-24px) rotate(90deg);
        transform-origin: right bottom;
        white-space: nowrap;
    }

    >img {
        height: 24px;
        aspect-ratio: 1 / 1;
    }
}

.references {
    @include dFlex($jc: flex-start, $g: 32px);

    >.link-icon {
        height: 30px;
        aspect-ratio: 1 / 1;

        &:hover {
            cursor: pointer;
        }
    }
}