<section class="hero scroll-anchor-offset" id="hero">
    <div class="splashes curve"></div>
    <div class="section-content hero-content padding-right">
        <div class="hero-top"></div>
        <div class="splashes hero-splash"></div>

        <div class="introduction-with-image padding-left">
            <div class="photo-space">
                <img class="photo" src="assets/img/hero.png" alt="photo">
            </div>
            <div class="introduce-myself">
                <div class="introduction">
                    <div class="name-profession">
                        <h2 class="name">Christina Albrecher</h2>
                        <h3 class="profession">{{ 'HERO.PROFESSION' | translate }}</h3>
                        <span class="start-introduction">{{ 'HERO.I_AM' | translate }}</span>
                    </div>
                </div>
                <a class="contact-appeal" href="#contact">
                    <button class="button-green button-hero">{{ 'HERO.TALK_APPEAL' | translate }}</button>
                </a>
            </div>
        </div>

        <div class="hero-bottom">
            <div class="references padding-left">
                <div class="separator-general"></div>
                <app-media-links></app-media-links>
                <a class="email-address" href="#contact">kontakt&#64;christina-albrecher.at</a>
            </div>
            <div class="scroll-down">
                <span>{{ 'HERO.SCROLL' | translate }}</span>
                <img src="assets/icons/arrow-down.svg" alt="direction arrow">
            </div>
        </div>
    </div>
</section>