@import 'shared';

.hero {
    min-height: calc(100vh - 109px);
    width: 100%;
    position: relative;
    @include dFlex($ai: flex-start);

    @media (min-height: 1400px) {
        height: unset;
    }

    >.hero-content {
        position: relative;
        justify-content: space-between;
        flex: 1;
        padding-top: 109px;
    }
}

.introduction-with-image {
    @include dFlex($jc: space-between);

    @media (max-width: 1150px) {
        @include dFlex($fd: column, $jc: flex-start);
    }

    >.photo-space {
        @include dFlex();
        width: 40%;
        height: calc(100vh - 209px);
        max-height: calc(1400px - 209px);
        background-image: url('/assets/img/photo-shadow.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -99;

        @media (max-width: 1150px) {
            width: auto;
            margin-left: 75px;
        }

        @media (max-width: 800px) {
            margin-left: 50px;
        }

        @media (max-width: 400px) {
            margin-left: 25px;
            width: auto;
            height: calc(100vh - 109px - 580px);
        }

        >img {
            width: 80%;
            z-index: -99;
        }
    }
}

.introduce-myself {
    @include dFlex($fd: column, $g: 44px);
    max-width: 60%;

    @media (max-width: 1150px) {
        max-width: 100%;
    }

    >.introduction {
        @include dFlex($jc: flex-end, $ai: center, $g: 35px);
        position: relative;

        @media (max-width: 400px) {
            gap: 4px;
        }

        >.start-introduction {
            font-size: 64px;
            white-space: nowrap;
            transform: translateY(50%) rotate(-90deg);
            transform-origin: top;
            display: inline-block;

            @media (max-width: 800px) {
                font-size: 40px;
                line-height: 100%;
            }

            @media (max-width: 400px) {
                font-size: 32px;
            }
        }

        >.name-profession {
            @include dFlex($fd: column);
            text-align: justify;

            >.profession {
                text-transform: uppercase;
                text-align: center;
            }

            >.name,
            >.profession {
                width: 100%;

                @media (max-width: 400px) {
                    text-align: left;
                }
            }
        }
    }
}

.button-hero {
    transform-origin: top;
    z-index: 99;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 1150px) {
        margin-left: 75px;
    }

    @media (max-width: 800px) {
        margin-left: 50px;
    }

    @media (max-width: 400px) {
        margin-left: 25px;
    }
}

.hero-bottom {
    @include dFlex($jc: space-between, $ai: flex-end);
    padding-top: 44px;

    >.references {
        @include dFlex($jc: flex-start, $g: 32px);
        width: 100%;

        @media (max-width: 824px) {
            gap: 16px;

            >.short-separator {
                width: calc(50% - 174px/2 - 16px + 50px);
            }

            >.email-address {
                display: none;
            }
        }
    }

    >.scroll-down {
        @include dFlex($fd: column, $jc: space-between, $ai: flex-end, $g: 8px);

        @media (max-width: 1150px) {
            display: none;
        }

        >span {
            display: inline-block;
            transform: translateX(-24px) rotate(90deg);
            transform-origin: right bottom;
            white-space: nowrap;
        }

        >img {
            height: 24px;
            aspect-ratio: 1 / 1;
        }
    }
}

// .background {
//     width: 100%;
//     height: 383px;
//     z-index: -40;
//     background-image: url('/assets/img/quartercircle.svg');
//     background-position: bottom left;
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     position: absolute;
//     top: 490px;
//     right: 0;
//     bottom: -100px;
//     left: 0;
// }