@import 'shared';

.hero {
    min-height: 100vh;
    width: 100%;
    @include dFlex();
    padding: 0 100px 0 0;
}

.introduction-with-image {
    @include dFlex($jc: space-between);

    >.photo-space {
        width: 40%;
        aspect-ratio: 1 / 1.2;
        background-image: url('/assets/img/photo-shadow.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        // >.body-photo {

        // }
    }
}

.introduce-myself {
    @include dFlex($fd: column, $g: 44px);

    .introduction {
        @include dFlex($jc: flex-end, $g: 35px);
        padding-top: 188px;

        .start-introduction {
            font-size: 64px;
            transform: rotate(270deg);
            text-wrap: nowrap;
        }

        .name-profession {
            @include dFlex($fd: column);
            text-wrap: nowrap;
        }
    }
}

.scroll-down {
    @include dFlex($fd: column, $g: 3px);

    >span {
        display: inline-block;
        transform: rotate(90deg);
        transform-origin: right bottom;
        white-space: nowrap;
    }

    >img {
        height: 24px;
        aspect-ratio: 1 / 1;
    }
}

.references {
    @include dFlex(row, flex-start, center);
    gap: 32px;

    >.link-icon {
        height: 30px;
        aspect-ratio: 1 / 1;

        &:hover {
            cursor: pointer;
        }
    }
}