<section class="hero">
    <div class="splashes curve"></div>
    <div class="section-content hero-content padding-right">

        <div class="hero-top"></div>

        <div class="splashes hero-splash"></div>
        <div class="splashes hero-photo"></div>

        <div class="introduction-with-image">
            <div class="photo-space"></div>
            <div class="introduce-myself">
                <div class="introduction">
                    <span class="start-introduction">{{ 'HERO.I_AM' | translate }}</span>
                    <div class="name-profession">
                        <h1 class="name">Christina Albrecher</h1>
                        <p class="name-short">Christina</p>
                        <h2 class="profession">{{ 'HERO.PROFESSION' | translate }}</h2>
                    </div>
                </div>
                <a href="#contact"><button class="button-green button-hero">{{ 'HERO.TALK_APPEAL' | translate
                        }}</button></a>
            </div>
        </div>

        <div class="hero-bottom">
            <div class="references padding-left">
                <div class="separator-general"></div>
                <app-media-links></app-media-links>
                <a class="email-address" href="#contact">kontakt&#64;christina-albrecher.at</a>
            </div>
            <div class="scroll-down">
                <span>scroll-down </span>
                <img src="assets/icons/arrow-down.svg" alt="direction arrow">
            </div>
        </div>
    </div>
</section>