<section class="hero">
    <div class="section-content">
        <div class="introduction-with-image">
            <div class="photo-space">
                <img class="body-photo" src="" alt="photo">
            </div>
            <div class="introduce-myself">
                <div class="introduction">
                    <span class="start-introduction">I am</span>
                    <div class="name-profession">
                        <h1 class="name">Christina Albrecher</h1>
                        <h2 class="profession">FRONTEND DEVELOPER</h2>
                    </div>
                </div>
                <a href="#contact"><button class="button-green">Let´s talk!</button></a>
            </div>
        </div>

        <a class="scroll-down" href="#contact">
            <span>scroll-down</span>
            <img src="assets/icons/arrow-down.svg" alt="direction arrow">
        </a>

        <div class="references">
            <div class="separator100px"></div>
            <img class="link-icon" src="assets/icons/gitHub.svg" alt="gitHub icon">
            <img class="link-icon" src="assets/icons/mail.svg" alt="mail icon">
            <img class="link-icon" src="assets/icons/linkedIn.svg" alt="linkedIn icon">
            <a href="#contact">christina.albrecher&#64;gmx.at</a>
        </div>
    </div>
</section>