@import 'shared';

.about-splash {
    background-image: url('/assets/img/purple-about.png');
    width: 572.03px;
    height: 608px;
    top: -50%;
    right: 0;
    transform: translateX(60%) rotate(-8deg);

    @media (max-width: 1350px) {
        top: -45%;
    }

    @media (max-width: 480px) {
        width: 391.32px;
        height: 415.93px;
        top: -30%;
    }
}

.about-me {
    @include dFlex($jc: space-between);
    width: 100%;

    >.about-me-text {
        width: 40%;
        @include dFlex($fd: column, $ai: flex-start, $g: 40px);

        @media (max-width: 1250px) {
            width: 45%;
        }

        @media (max-width: 1150px) {
            width: 100%;
        }

        @media (max-width: 800px) {
            gap: 24px;
        }

        >.facts {
            @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 32px);
        }
    }

    .about-me-photo {
        width: 48%;
        @include dFlex($jc: flex-start);
        position: relative;

        @media (max-width: 1150px) {
            display: none;
        }

        >.close-up {
            width: 453px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 4px solid $green;
            object-fit: contain;
            object-position: center;
            background: $blue-grey;

            @media (max-width: 1250px) {
                width: 400px;
            }
        }

        >.separator-about-me {
            background: $green;
            width: 100vw;
            left: 0;
            z-index: -40;
        }
    }
}

.categories {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 24px);

    @media (max-width: 432px) {
        gap: 16px;
    }

    >.category {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 16px);

        >.category-icon {
            width: 48px;
            aspect-ratio: 1 / 1;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}