<section class="general-main-section">
    <div class="section-content">
        <div class="about-me padding-left">
            <div class="about-me-text">
                <h1>About me</h1>
                <div class="facts">
                    <span class="fs-small">Write some information about yourself that is IT related. Why
                        are you
                        passionate about
                        coding? What is your source of inspiration for improving your programming skills?
                    </span>
                    <div class="categories">
                        <div class="category">
                            <img src="assets/icons/location.svg" alt="location">
                            <span class="fs-small">Where are you located? Are you open to different ways of working,
                                such as working remotely
                                or even relocated?
                            </span>
                        </div>
                        <div class="category">
                            <img src="assets/icons/open-mindset.svg" alt="open minded">
                            <span class="fs-small">Show that you are open-minded. Are you enthusiastic about
                                learning new technologies and continually improving your skills?
                            </span>
                        </div>
                        <div class="category">
                            <img src="assets/icons/problem-solving.svg" alt="problem-solving attitude">
                            <span class="fs-small">A brief description of your problem-solving approach. Do you
                                learn from each challenge as yout search for the most efficient or elegant solution?
                                You can include some keywords like: analytical thinking, creativity, persistence and
                                collaboration.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-me-photo">
                <img class="close-up" src="assets/img/close-up.png" alt="my close-up">
                <div class="short-separator separator-about-me"></div>
            </div>
        </div>
    </div>
</section>