<section class="general-main-section">
    <div class="section-content padding-left">
        <div class="skills">
            <div class="stack">
                <div *ngFor="let item of stack; let i = index;">
                    <app-skill-item [stackIconUrl]="item.stackIconUrl" [stackName]="item.stackName">
                    </app-skill-item>
                </div>
            </div>
            <div class="skills-description">
                <div class="skills-headline">
                    <h1>{{ 'SKILLS.HEADLINE' | translate }}</h1>
                    <div class="short-separator separator-skills"></div>
                </div>
                <div class="search padding-right">
                    <p class="fs-small p-skills">{{ 'SKILLS.DESCRIPTION' | translate }}</p>
                    <span class="skills-question">{{ 'SKILLS.QUESTION_START' | translate }}<span
                            class="skills-question purple-font">{{ 'SKILLS.QUESTION_END' | translate
                            }}</span>?</span>
                    <p class="fs-small p-skills">{{ 'SKILLS.AMBITION' | translate }}</p>
                    <a href="#contact"><button class="button-green">{{ 'SKILLS.APPEAL' | translate
                            }}</button></a>
                </div>
            </div>
        </div>
    </div>
</section>