@import 'shared';

.skills {
    @include dFlex($jc: space-between, $g: 105px);

    >.stack {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 88px);
        width: 50%;
        flex-wrap: wrap;
    }

    >.skills-description {
        @include dFlex($fd: column, $ai: flex-end, $g: 40px);
        width: 50%;

        >.skills-headline {
            @include dFlex($jc: flex-end, $ai: center, $g: 32px);

            >.separator-skills {
                width: 68px;
            }
        }

        >.search {
            @include dFlex($fd: column, $ai: flex-end, $g: 24px);

            .p-skills {
                text-align: right;
            }

            .skills-question {
                font-weight: 700;
                font-size: 32px;
            }

            a {
                transition: transform 0.2s ease-in-out;
                transform-origin: top right;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.stack-component {
    @include dFlex($fd: column, $jc: space-between, $g: 10px);
    padding-top: 12px;

    >.stack-icon {
        height: 60px;

        &:hover {
            transform: translateY(-16px);
        }
    }

    >.stack-name {
        font-weight: 700;
        font-size: 16px;
    }
}

    .purple-font {
        color: $purple;

        &:hover {
            color: #FFFFFF;
        }
    }