<section class="general-main-section">
    <div class="section-content padding-left padding-right">
        <div class="splashes skills-splash"></div>
        <div class="skills">
            <div class="stack">
                <div *ngFor="let item of stack; let i = index; let isLast = last;" class="scroll-anim-zoom-in"
                    appScrollAnimation>
                    <app-skill-item [stackIconUrl]="item.stackIconUrl" [stackName]="item.stackName"
                        [isLearning]="i === stack.length - 1">
                    </app-skill-item>
                </div>
            </div>
            <div class="skills-description">
                <div class="skills-headline">
                    <h1>{{ 'SKILLS.HEADLINE' | translate }}</h1>
                    <div class="separator-general"></div>
                </div>
                <div class="search">
                    <p class="fs-small p-skills">{{ 'SKILLS.DESCRIPTION' | translate }}</p>
                    <div class="stack-mobile">
                        <div *ngFor="let item of stack; let i = index; let isLast= last;" class="scroll-anim-zoom-in"
                            appScrollAnimation>
                            <app-skill-item [stackIconUrl]="item.stackIconUrl" [stackName]="item.stackName"
                                [isLearning]="i === stack.length - 1">
                            </app-skill-item>
                        </div>
                    </div>
                    <span class="skills-question">{{ 'SKILLS.QUESTION_START' | translate }}<span
                            class="skills-question purple-font">{{ 'SKILLS.QUESTION_END' | translate
                            }}</span>?</span>
                    <p class="fs-small p-skills">{{ 'SKILLS.AMBITION' | translate }}</p>
                    <div class="skills-btn">
                        <a href="#contact"><button class="button-green">{{ 'SKILLS.APPEAL' | translate
                                }}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>