@import 'shared';

.skills {
    @include dFlex($jc: space-between, $g: 105px);

    >.stack {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 88px);
        width: 50%;
        flex-wrap: wrap;
    }

    // >.skills-description {

    // }
}

.stack-component {
    @include dFlex($fd: column, $jc: space-between, $g: 10px);
    padding-top: 12px;

    >.stack-icon {
        height: 60px;
        &:hover {
            transform: translateY(-16px);
        }
    }

    >.stack-name {
        font-weight: 700;
        font-size: 16px;
    }
}

.violet-font {
    color: $violet;
}