<section class="general-main-section">
    <div class="section-content">
        <div class="skills">
            <div class="stack">
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/HTML.svg" alt="HTML icon">
                    <p class="stack-name">HTML</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/CSS.svg" alt="CSS icon">
                    <p class="stack-name">CSS</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/javaScript.svg" alt="JavaScript icon">
                    <p class="stack-name">JavaScript</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/typeScript.svg" alt="TypeScript icon">
                    <p class="stack-name">TypeScript</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/angular.svg" alt="Angular icon">
                    <p class="stack-name">Angular</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/firebase.svg" alt="Firebase icon">
                    <p class="stack-name">Firebase</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/git.svg" alt="Git icon">
                    <p class="stack-name">Git</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/API.svg" alt="Rest API icon">
                    <p class="stack-name">Rest API</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/scrum.svg" alt="scrum icon">
                    <p class="stack-name">Scrum</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/material-design.svg" alt="Material Design icon">
                    <p class="stack-name">Material Design</p>
                </div>
                <div class="stack-component">
                    <img class="stack-icon" src="assets/icons/learning-ambition.svg" alt="continually learning icon">
                    <p class="stack-name violet-font">Continually learning</p>
                </div>
            </div>
            <div class="skills-description">
                <h1>My skills</h1>
                <div class="search">
                    <span>Looking for <span class="violet-font">another skill</span>?</span>
                    <a href="#contact"><button class="button-green">Get in touch!</button></a>
                </div>
            </div>



        </div>
    </div>
</section>