<section class="general-main-section overflow-x overflow-y">
    <div class="section-content">
        <div class="splashes privacy-purple-splash"></div>
        <div class="splashes imprint-green-splash"></div>
        <div class="splashes contact-splash"></div>
        <div class="policy-section padding-right padding-left">
            <div>
                <h1 class="policy-h1">{{ 'PP.HEADER' | translate }}</h1>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.RESPONSIBLE_TITLE' | translate
                    }}</h2>
                <p class="policy-p">{{ 'PP.RESPONSIBLE_TEXT' | translate }}</p>
                <p>Christina Albrecher<br />
                    Witzelsbergergasse 5,<br />
                    AT - 1150 Vienna</p>
                <p>{{ 'IMPRINT.PHONE' | translate }}: 0650 / 673 97 16<br />
                    {{ 'IMPRINT.MAIL' | translate }}: <a
                        href="mailto:kontakt@christina-albrecher.at">kontakt&#64;christina-albrecher.at</a>
                </p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.HOSTING_TITLE' | translate
                    }}</h2>
                <p class="policy-p">{{ 'PP.HOSTING_TEXT1' | translate }}<span
                        class="policy-p p-highlight">All-Inkl</span>.</p>
                <p class="policy-p">{{ 'PP.HOSTING_TEXT2' | translate }}<a
                        href="https://all-inkl.com/datenschutzinformationen/" rel="noopener nofollow"
                        target="_blank">https://all-inkl.com</a>.</p>
                <p class="policy-p">{{ 'PP.HOSTING_TEXT3' | translate }}</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.RIGHTS_TITLE' | translate }}
                </h2>
                <p class="policy-p">{{ 'PP.RIGHTS_TEXT1' | translate }}</p>
                <ul>
                    <li>{{ 'PP.RIGHTS_LIST1' | translate }}</li>
                    <li>{{ 'PP.RIGHTS_LIST2' | translate }}</li>
                    <li>{{ 'PP.RIGHTS_LIST3' | translate }}</li>
                    <li>{{ 'PP.RIGHTS_LIST4' | translate }}</li>
                    <li>{{ 'PP.RIGHTS_LIST5' | translate }}</li>
                    <li>{{ 'PP.RIGHTS_LIST6' | translate }}</li>
                </ul>
                <p class="policy-p">{{ 'PP.RIGHTS_TEXT2' | translate }}</p>
                <p class="policy-p">{{ 'PP.RIGHTS_TEXT3' | translate }}</p>
                <p class="policy-p">{{ 'PP.RIGHTS_TEXT4' | translate }}<a
                        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/</a>.
                </p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.PROCESSING_TITLE' | translate
                    }}</h2>
                <h3 class="policy-h3">{{ 'PP.WEBSITE_PROCESSING_TITLE' | translate }}</h3>
                <h4 class="policy-h4">{{ 'PP.WEBSITE_PROCESSING_SUBTITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.PROCESSING_P1' | translate }}</p>
                <p class="policy-p">{{ 'PP.PROCESSING_P2' | translate }}</p>
                <p class="policy-p">{{ 'PP.PROCESSING_P3' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.LEGAL_BASIS_TITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.LEGAL_BASIS_TEXT' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.RECIPIENTS_TITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.RECIPIENTS_TEXT' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.STORAGE_TITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.STORAGE_TEXT' | translate }}</p>
                <p class="policy-p">{{ 'PP.STORAGE_TEXT2' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.PROVISION_TITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.PROVISION_TEXT' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.OBJECTION_TITLE' | translate }}</h4>
                <p class="policy-p">{{ 'PP.OBJECTION_TEXT' | translate }}</p>
                <h3 class="policy-h3">{{ 'PP.CONTACT_TITLE' | translate }}</h3>
                <p class="policy-p">{{ 'PP.CONTACT_SUBTITLE1' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT1' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT2' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT3' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT4' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT5' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.CONTACT_SUBTITLE2' | translate }}</h4>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT6' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT7' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT8' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.CONTACT_SUBTITLE3' | translate }}</h4>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT9' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.CONTACT_SUBTITLE4' | translate }}</h4>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT10' | translate }}</p>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT11' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.CONTACT_SUBTITLE5' | translate }}</h4>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT12' | translate }}</p>
                <h4 class="policy-h4">{{ 'PP.CONTACT_SUBTITLE6' | translate }}</h4>
                <p class="policy-p">{{ 'PP.CONTACT_TEXT13' | translate }}</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.SOCIAL_LINKS_TITLE' |
                    translate }}</h2>
                <p class="policy-p">{{ 'PP.SOCIAL_LINKS_TEXT' | translate }}</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.GOOGLE_FONTS_TITLE' |
                    translate }}</h2>
                <p class="policy-p">{{ 'PP.GOOGLE_FONTS_TEXT1' | translate }}</p>
                <p class="policy-p">{{ 'PP.GOOGLE_FONTS_TEXT2' | translate }}<a
                        href="https://developers.google.com/fonts/faq" rel="noopener nofollow"
                        target="_blank">https://google.fonts</a>{{ 'PP.GOOGLE_FONTS_TEXT3' | translate }}<a
                        href="https://www.google.com/policies/privacy/" rel="noopener nofollow"
                        target="_blank">https://google.policies</a>.</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.ART21_TITLE' | translate }}
                </h2>
                <h3 class="policy-h3">{{ 'PP.ART21_SINGLE_CASE' | translate }}</h3>
                <p class="policy-p">{{ 'PP.ART21_TEXT1' | translate }}</p>
                <p class="policy-p">{{ 'PP.ART21_TEXT2' | translate }}</p>
                <h3 class="policy-h3">{{ 'PP.ART21_RECIPIENT_TITLE' | translate }}</h3>
                <p>Christina Albrecher</p>
                <p>Witzelsbergergasse 5</p>
                <p>1150 Wien</p>
                <a href='mailto:kontakt@christina-albrecher.at'>kontakt&#64;christina-albrecher.at</a>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.CHANGES_TITLE' | translate }}
                </h2>
                <p class="policy-p">{{ 'PP.CHANGES_TEXT' | translate }}</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.QUESTIONS_TITLE' | translate
                    }}</h2>
                <p>{{ 'PP.QUESTIONS_TEXT' | translate }}</p>
                <h2 class="policy-h2 scroll-anim-zoom-in" appScrollAnimation>{{ 'PP.COPYRIGHT_TITLE' | translate
                    }}</h2>
                <p><em>{{ 'PP.COPYRIGHT_TEXT' | translate }}
                        <a class="em-link" href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
                            target="_blank" rel="noopener dofollow">{{ 'PP.COPYRIGHT_LINK' | translate }}</a>(Version
                        #2024-10-25).</em></p>
            </div>
        </div>
    </div>
</section>