@import 'shared';

a {
    color: $purple;

    &:hover {
        color: $green;
    }
}

.policy-h2 {
    font-size: 40px;
    padding: 30px 0 12px 0;
    color: $green;
}

.policy-h3 {
    font-weight: 500;
    color: $purple;
    padding-bottom: 12px;
}

.policy-h4 {
    font-size: 28px;
    color: $purple;
    padding-bottom: 8px;
}

.policy-p {
    padding-bottom: 8px;
}