<section class="general-main-section">
    <div class="section-content">
        <div class="policy-section">
            <div>
                <h1>Imprint</h1>
                <h2>Disclosure according to § 25 Mediengesetz</h2>
                <h3>Information:</h3>
                <div class="address">
                    <p>Christina Albrecher<br />
                        Witzelsbergergasse 5/4,<br />
                        AT - 1150 Vienna</p>
                    <p><strong>Phone: </strong>0650 / 673 97 16<br />
                        <strong>Email: </strong>
                        <a href="mailto:kontakt@christina-albrecher.at">kontakt&#64;christina-albrecher.at</a>
                    </p>
                </div>
                <p>Source: Created with <a href="https://www.adsimple.at/impressum-generator/"
                        title="Impressum Generator Austria by AdSimple">Impressum Generator</a> by AdSimple</p>
            </div>
        </div>
    </div>
</section>