<section class="general-main-section">
    <div class="section-content">
        <div class="splashes imprint-green-splash"></div>
        <div class="policy-section padding-right padding-left">
            <div class="imprint-content">
                <div class="imprint-text">
                    <h1 class="policy-h1">{{ 'IMPRINT.HEADER' | translate }}</h1>
                    <div class="address">
                        <h2 class="policy-h2">{{ 'IMPRINT.ACCORDING_LAW' | translate }}</h2>
                        <h3 class="policy-h3">Information:</h3>
                        <p>Christina Albrecher<br>
                            Witzelsbergergasse 5,<br>
                            AT - 1150 Vienna</p>
                        <p>{{ 'IMPRINT.PHONE' | translate }}: 0650 / 673 97 16</p>
                        <p>{{ 'IMPRINT.MAIL' | translate }}: <a
                                href="mailto:kontakt@christina-albrecher.at">kontakt&#64;christina-albrecher.at</a></p>
                    </div>
                </div>
                <p>{{ 'IMPRINT.SOURCE' | translate }}<a href="https://www.adsimple.at/impressum-generator/"
                        title="Impressum Generator Austria by AdSimple">Impressum Generator</a> {{ 'IMPRINT.BY' |
                    translate }} AdSimple</p>
            </div>
        </div>
    </div>
</section>