@import 'shared';

.quote {
    width: 96.9px;
    height: 68.1px;
    z-index: 99;
    transform: translateY(34px);
}

.references {
    @include dFlex($fd: column, $ai: stretch, $g: 32px);

    >.slider {
        @include dFlex($g: 20px);

        >.arrow {
            width: 40px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            flex-shrink: 0;

            &:hover {
                border-radius: 50%;
                border: 2px solid $green;
            }
        }

        >.point {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            flex-shrink: 0;

            &.inactive {
                background: $purple;
            }

            &.active {
                background: $green;
            }
        }
    }
}