@import 'shared';

.references-splash {
    background-image: url('/assets/img/green-references.png');
    width: 428.59px;
    height: 951.44px;
    top: -400px;
    right: 250px;
    transform: translateX(50%) rotate(80deg);

    @media (max-width: 1400px) {
        top: -350px;
    }

    @media (max-width: 1150px) {
        top: -370px;
        right: 250px;
    }

    @media (max-width: 800px) {
        top: -400px;
        right: 200px;
    }

    @media (max-width: 432px) {
        top: -430px;
    }
}

.quote {
    width: 96.9px;
    height: 68.1px;
    z-index: 40;
    position: absolute;
    top: 0;

    @media (max-width: 1150px) {
        top: -34px;
        width: 87px;
        height: 60px;
        transform: translate(37.5px, 266px);
    }

    @media (max-width: 800px) {
        width: 77px;
        height: 54px;
        transform: translate(25px, 224px);
    }

    @media (max-width: 432px) {
        width: 68.3px;
        height: 48px;
        transform: translate(6px, 176px);
    }
}

.references {
    @include dFlex($fd: column, $ai: stretch, $g: 32px);
    padding-top: 34px;

    @media (max-width: 1150px) {
        padding-top: 0;
    }

    >.slider {
        @include dFlex($g: 20px);
        transform: translateX(-50px);

        @media (max-width: 1150px) {
            transform: translateX(0);
        }

        >.arrow {
            width: 40px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            flex-shrink: 0;

            &:hover {
                border-radius: 50%;
                border: 2px solid $green;
                cursor: pointer;
            }
        }

        >.point {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            flex-shrink: 0;

            &.inactive {
                background: $purple;
            }

            &.active {
                background: $green;
            }
        }
    }
}

@media (max-width: 1150px) {
    .padding-left {
        padding-left: 0;
    }
}

.fade-in {
    animation: fadeIn 10s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}