@import 'shared';

header {
    height: 109px;
    width: 100%;
    position: fixed;
    @include dFlex(row);
    padding: 37px 100px;
}

nav {
    @include dFlex(row, space-between, center);

    >.logo {
        height: 27.9px;
    }

    >.options {
        @include dFlex(row, space-between, center);
        gap: 92px;
    }
}

.forwarding {
    @include dFlex(row, space-between, center);
    gap: 29px;

    >a {
        &:hover {
            color: $green;
        }
    }
}