<header>
    <div class="section-content header-section">
        <nav>
            <img class="logo" src="" alt="Logo Christina Albrecher">
            <div class="options">
                <div class="forwarding">
                    <a href="#about-me">About me</a>
                    <a href="#skills">Skills</a>
                    <a href="#projects">Portfolio</a>
                </div>
                <div class="languages">
                    <button>DE</button>
                    <button>EN</button>
                </div>
            </div>
        </nav>
    </div>
</header>