@import 'shared';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

body {
    background: $blue-grey;
    overflow-x: hidden;
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}

.fs-small {
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    text-align: center;
}

h2 {
    font-size: 58px;
    color: $purple;
}

h3 {
    font-weight: 700;
    font-size: 32px;
}

button,
.button {
    border: unset;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.button-green {
    background: $green;
    padding: 15px 30px;

    &:hover {
        background: $purple;
    }
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background: #1a253c;
}

html::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #62ce14;
}

.general-main-section {
    width: 100%;
    @include dFlex();
}

.section-content {
    max-width: 1920px;
    width: 100%;
    @include dFlex($fd: column, $ai: space-between);
    position: relative;
}

.padding-right {
    padding-right: 100px;
}

.padding-left {
    padding-left: 100px;
}

// .centered-text {
//     align-items: center;
// }

.d-none {
    display: none;
}

.short-separator {
    height: 4px;
    width: 100px;
    background: $purple;
}

.long-separator {
    width: calc(50% - 250px - 32px);
    // flex-grow: 1;
}