@import 'shared';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;

    @media (max-width: 800px) {
        font-size: 20px;
    }

    @media (max-width: 432px) {
        font-size: 16px;
    }
}

body {
    background: $blue-grey;
}

html,
body {
    overflow-x: hidden;
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}

.fs-small {
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    text-align: center;

    @media (max-width: 800px) {
        font-size: 64px;
    }

    @media (max-width: 432px) {
        font-size: 45px;
    }
}

h2 {
    font-size: 58px;
    color: $purple;

    @media (max-width: 800px) {
        font-size: 40px;
    }

    @media (max-width: 432px) {
        font-size: 28px;
    }
}

h3 {
    font-weight: 700;
    font-size: 32px;
}

button,
.button {
    border: unset;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.button-green {
    background: $green;
    padding: 15px 30px;

    @media (max-width: 344px) {
        padding: 10px 20px;
    }

    @media (max-height: 376px) {
        padding: 10px 20px;
    }

    &:hover {
        background: $purple;
    }
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background: #252c3c;
}

html::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #62ce14;
}

.general-main-section {
    width: 100%;
    @include dFlex();
}

.section-content {
    max-width: 1920px;
    width: 100%;
    @include dFlex($fd: column, $ai: stretch);
    position: relative;
}

.padding-right {
    padding-right: 100px;

    @media (max-width: 1150px) {
        padding-right: 75px;
    }

    @media (max-width: 800px) {
        padding-right: 50px;
    }

    @media (max-width: 432px) {
        padding-right: 25px;
    }
}

.padding-left {
    padding-left: 100px;

    @media (max-width: 1150px) {
        padding-left: 75px;
    }

    @media (max-width: 800px) {
        padding-left: 50px;
    }

    @media (max-width: 432px) {
        padding-left: 25px;
    }
}

.d-none {
    display: none;
}

.splashes {
    z-index: -99;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform-origin: center center;
    pointer-events: none;
    overflow-x: hidden;
}

.separator-general {
    position: absolute;
    height: 4px;
    background: $purple;
}