@import 'shared';

footer {
    height: 291px;
    width: 100%;
    border-top: 4px solid $green;
    @include dFlex();
    z-index: 20;
    background: $blue-grey;

    @media (max-width: 1150px) {
        text-align: center;
    }
}

.logo-links {
    @include dFlex($jc: space-between);

    @media (max-width: 1150px) {
        @include dFlex($fd: column, $g: 24px);
        padding-bottom: 24px;
    }
}

.logo {
    height: 40.14px;

    @media (max-width: 1150px) {
        padding-bottom: 16px;
    }
}

.imprint-link {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 80px;
        height: 2px;
        background-color: $green;
        transform: scaleX(0);
    }

    &:hover::after {
        transform: scaleX(1);
    }
}