@import 'shared';

footer {
    height: 291px;
    width: 100%;
    border-top: 4px solid $green;
    @include dFlex(row);
    padding: 0 100px;
}

.logo-links {
    @include dFlex(row, space-between, center);

    >img {
        height: 40.14px;
    }

    // import from hero-section
    >.media-links {
        @include dFlex(row, space-between, center);
        width: 174px;
        height: 40px;

        >.link-icon {
            height: 30px;
            aspect-ratio: 1 / 1;

            &:hover {
                cursor: pointer;
            }
        }
    }
}