<footer>
    <div class="section-content">
        <div class="logo-links">
            <img src="" alt="Logo Christina Albrecher">
            <span>© Christina Albrecher 2025</span>
            <div class="media-links">
                <img class="link-icon" src="assets/icons/gitHub.svg" alt="gitHub icon">
                <img class="link-icon" src="assets/icons/mail.svg" alt="mail icon">
                <img class="link-icon" src="assets/icons/linkedIn.svg" alt="linkedIn icon">
            </div>
        </div>
        <a href="imprint">Legal Notice</a>
    </div>
</footer>