@import 'shared';

footer {
    height: 291px;
    width: 100%;
    border-top: 4px solid $green;
    @include dFlex();
    padding: 0 100px;
    z-index: 20;
    background: $blue-grey;
}

.logo-links {
    @include dFlex($jc: space-between);

    >img {
        height: 40.14px;
    }

    // import from hero-section
    >.media-links {
        @include dFlex($jc: space-between);
        width: 174px;
        height: 40px;

        >.link-icon {
            height: 30px;
            aspect-ratio: 1 / 1;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.imprint-link {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 80px;
        height: 2px;
        background-color: $green;
        transform: scaleX(0);
    }

    &:hover::after {
        transform: scaleX(1);
    }
}