<footer>
    <div class="section-content padding-right padding-left footer-content">
        <div class="logo-links">
            <a class="logo-position" href="index.html">
                <img class="logo" src="assets/icons/logo.png" alt="Leni Nav Logo">
            </a>
        </div>
        <div>
            <a [routerLink]="'/imprint'" class="imprint-link">{{ 'FOOTER.IMPRINT' | translate}}</a>
            <a [routerLink]="'/policy'" class="imprint-link">{{ 'FOOTER.POLICY' | translate}}</a>
        </div>
    </div>
</footer>