<div class="media-links">
    <a href="https://github.com/kikiAlbrecher" target="_blank" rel="noopener noreferrer" title="gitHub projects"><img class="link-icon"
            src="assets/icons/gitHub.svg" alt="gitHub icon"></a>
    <a href="#contact" title="send email"><img class="link-icon" src="assets/icons/mail.svg" alt="mail icon"></a>
    <a href="https://www.linkedin.com/in/christina-albrecher-0894962a8/" target="_blank" rel="noopener noreferrer" title="linkedIn profile"><img
            class="link-icon" src="assets/icons/linkedIn.svg" alt="linkedIn icon"></a>
</div>